html {
  font-size: 10px; /* This controls the text font in the boxes */
    background: linear-gradient(to right, #6495ed, #555); /* This controls the background coloring */
  color: #fff;
}

body { /* This is where to control the boxes' alignments */
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center; 
  justify-content: center;
}

#drum-kit { /* This is where how the boxes will be arranged */
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.key { /* This is where how the boxes are adjusted and colored */
  border: 0.4rem solid #fff;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(100, 149, 237, 0.4),
    rgba(58, 53, 53, 0.4)
  );
}

.key.active { /* This is where the boxes will look like when pressed */
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.key:active,
.key:focus {
  outline: none;
  transform: scale(0.95);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .key {
    width: 8rem;
    height: 8rem;
    font-size: 1.4rem;
  }
}
